@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["title"] = "Test Cors";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewData["title"] - Client</title>
</head>
<body>
    <h1>Test Cors</h1>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $.ajax({
            type: "GET",
            url: "https://localhost:7009/api/University",
        }).done((result) => {
            console.log(result);
        });
    </script>
</body>
</html>